<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qztc.demo.mapper.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.qztc.demo.model.Comment" >
    <id column="comment_id" property="commentId" jdbcType="INTEGER" />
    <result column="student_id" property="studentId" jdbcType="INTEGER" />
    <result column="comment_content" property="commentContent" jdbcType="VARCHAR" />
    <result column="discuss_id" property="discussId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    comment_id, student_id, comment_content, discuss_id, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comments
    where comment_id = #{commentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comments
    where comment_id = #{commentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qztc.demo.model.Comment" >
    insert into comments (comment_id, student_id, comment_content, 
      discuss_id, create_time)
    values (#{commentId,jdbcType=INTEGER}, #{studentId,jdbcType=INTEGER}, #{commentContent,jdbcType=VARCHAR}, 
      #{discussId,jdbcType=INTEGER}, #{createTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.qztc.demo.model.Comment" >
    insert into comments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        comment_id,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="commentContent != null" >
        comment_content,
      </if>
      <if test="discussId != null" >
        discuss_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="commentContent != null" >
        #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="discussId != null" >
        #{discussId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qztc.demo.model.Comment" >
    update comments
    <set >
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="commentContent != null" >
        comment_content = #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="discussId != null" >
        discuss_id = #{discussId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
    </set>
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qztc.demo.model.Comment" >
    update comments
    set student_id = #{studentId,jdbcType=INTEGER},
      comment_content = #{commentContent,jdbcType=VARCHAR},
      discuss_id = #{discussId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=DATE}
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
</mapper>