<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qztc.demo.mapper.CourseMapper" >
  <resultMap id="BaseResultMap" type="com.qztc.demo.model.Course" >
    <id column="couser_id" property="couserId" jdbcType="INTEGER" />
    <result column="course_name" property="courseName" jdbcType="VARCHAR" />
    <result column="course_picture" property="coursePicture" jdbcType="VARCHAR" />
    <result column="teacher_id" property="teacherId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    couser_id, course_name, course_picture, teacher_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from course
    where couser_id = #{couserId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from course
    where couser_id = #{couserId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qztc.demo.model.Course" >
    insert into course (couser_id, course_name, course_picture, 
      teacher_id)
    values (#{couserId,jdbcType=INTEGER}, #{courseName,jdbcType=VARCHAR}, #{coursePicture,jdbcType=VARCHAR}, 
      #{teacherId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qztc.demo.model.Course" >
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="couserId != null" >
        couser_id,
      </if>
      <if test="courseName != null" >
        course_name,
      </if>
      <if test="coursePicture != null" >
        course_picture,
      </if>
      <if test="teacherId != null" >
        teacher_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="couserId != null" >
        #{couserId,jdbcType=INTEGER},
      </if>
      <if test="courseName != null" >
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="coursePicture != null" >
        #{coursePicture,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null" >
        #{teacherId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qztc.demo.model.Course" >
    update course
    <set >
      <if test="courseName != null" >
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="coursePicture != null" >
        course_picture = #{coursePicture,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null" >
        teacher_id = #{teacherId,jdbcType=INTEGER},
      </if>
    </set>
    where couser_id = #{couserId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qztc.demo.model.Course" >
    update course
    set course_name = #{courseName,jdbcType=VARCHAR},
      course_picture = #{coursePicture,jdbcType=VARCHAR},
      teacher_id = #{teacherId,jdbcType=INTEGER}
    where couser_id = #{couserId,jdbcType=INTEGER}
  </update>
</mapper>