<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qztc.demo.mapper.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.qztc.demo.model.Student" >
    <id column="student_id" property="studentId" jdbcType="INTEGER" />
    <result column="student_sno" property="studentSno" jdbcType="VARCHAR" />
    <result column="student_name" property="studentName" jdbcType="VARCHAR" />
    <result column="student_password" property="studentPassword" jdbcType="VARCHAR" />
    <result column="student_profession" property="studentProfession" jdbcType="VARCHAR" />
    <result column="student_apartment" property="studentApartment" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    student_id, student_sno, student_name, student_password, student_profession, student_apartment
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from student
    where student_id = #{studentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from student
    where student_id = #{studentId,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.qztc.demo.model.Student" >
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="studentSno != null" >
        student_sno,
      </if>
      <if test="studentName != null" >
        student_name,
      </if>
      <if test="studentPassword != null" >
        student_password,
      </if>
      <if test="studentProfession != null" >
        student_profession,
      </if>
      <if test="studentApartment != null" >
        student_apartment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="studentId != null" >
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="studentSno != null" >
        #{studentSno,jdbcType=VARCHAR},
      </if>
      <if test="studentName != null" >
        #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="studentPassword != null" >
        #{studentPassword,jdbcType=VARCHAR},
      </if>
      <if test="studentProfession != null" >
        #{studentProfession,jdbcType=VARCHAR},
      </if>
      <if test="studentApartment != null" >
        #{studentApartment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qztc.demo.model.Student" >
    update student
    <set >
      <if test="studentSno != null" >
        student_sno = #{studentSno,jdbcType=VARCHAR},
      </if>
      <if test="studentName != null" >
        student_name = #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="studentPassword != null" >
        student_password = #{studentPassword,jdbcType=VARCHAR},
      </if>
      <if test="studentProfession != null" >
        student_profession = #{studentProfession,jdbcType=VARCHAR},
      </if>
      <if test="studentApartment != null" >
        student_apartment = #{studentApartment,jdbcType=VARCHAR},
      </if>
    </set>
    where student_id = #{studentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qztc.demo.model.Student" >
    update student
    set student_sno = #{studentSno,jdbcType=VARCHAR},
      student_name = #{studentName,jdbcType=VARCHAR},
      student_password = #{studentPassword,jdbcType=VARCHAR},
      student_profession = #{studentProfession,jdbcType=VARCHAR},
      student_apartment = #{studentApartment,jdbcType=VARCHAR}
    where student_id = #{studentId,jdbcType=INTEGER}
  </update>
</mapper>